<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script data-require="angular.js@*" data-semver="4.0.0" src="script.ts"></script>
  <script data-require="angular.js@*" data-semver="4.0.0" src="system.config.js"></script>
  <script data-require="angular.js@*" data-semver="4.0.0" src="tsconfig.json"></script>
  <script src="script.js"></script>
</head>

<body ng-controller="myCtrl">
  <!--activity 1-->
  <!--<h1>{{message}}</h1>-->
  <!--<b>{{person.firstName}}</b>-->
  <!--<b>{{person.lastName}}</b>-->
  <!--<div>-->
  <!--  <img src="{{person.imageSrc}}" title="{{person.firstName}} {{person.lastName}}">-->
  <!--</div>-->

  <!--activity 2-->
  <!--<h1>{{message}}</h1>-->
  <!--<div>{{error}}</div>-->

  <!--<h2>Name: {{user.name}}</h2>-->
  <!--<div>Location: {{user.location}}</div>-->
  <!--<div>-->
  <!--  <img ng-src="{{user.avatar_url}}" title="{{user.name}}">-->
  <!--</div>-->

  <!--activity 3-->
  <!--<h1>{{message}}</h1>-->
  <!--<div>{{error}}</div>-->

  <!--<form name="searchUser" ng-submit="search(username)">-->
  <!--  <input type="search" required placeholder="Username to find" ng-model="username">-->
  <!--  <input type="submit" value="Search">-->
  <!--</form>-->

  <!--<div>-->
  <!--<h2>{{user.name}}</h2>-->
  <!--<img ng-src="{{user.avatar_url}}" title="{{user.name}}">-->
  <!--</div>-->

  <!--<table>-->
  <!--  <thead>-->
  <!--    <tr>-->
  <!--      <th>Name</th>-->
  <!--      <th>No of Stars</th>-->
  <!--      <th>Language</th>-->
  <!--    </tr>-->
  <!--  </thead>-->
  <!--  <tbody>-->
  <!--    <tr ng-repeat="repo in repos">-->
  <!--      <td>{{repo.name}}</td>-->
  <!--      <td>{{repo.stargazers_count | number:1}}</td>-->
  <!--      <td>{{repo.language}}</td>-->
  <!--    </tr>-->
  <!--  </tbody>-->
  <!--</table>-->

  <!--activity 4-->
  <!--<h1>{{message}}</h1>-->
  <!--<div>{{error}}</div>-->

  <!--<form name="searchUser" ng-submit="search(username)">-->
  <!--  <input type="search" required placeholder="Username to find" ng-model="username">-->
  <!--  <input type="submit" value="Search">-->
  <!--</form>-->

  <!--<div>-->
  <!--<h2>{{user.name}}</h2>-->
  <!--<img ng-src="{{user.avatar_url}}" title="{{user.name}}">-->
  <!--</div>-->

  <!--Order By:-->
  <!--<select ng-model="repoSortOrder">-->
  <!--  <option value="+name">Name</option>-->
  <!--  <option value="-stargazers_count">No of Stars</option>-->
  <!--  <option value="+language">Language</option>-->
  <!--</select>-->

  <!--<table>-->
  <!--  <thead>-->
  <!--    <tr>-->
  <!--      <th>Name</th>-->
  <!--      <th>No of Stars</th>-->
  <!--      <th>Language</th>-->
  <!--    </tr>-->
  <!--  </thead>-->
  <!--  <tbody>-->
  <!--<tr ng-repeat="repo in repos | orderBy:'-stargazers_count'">-->
  <!--or, if we want to use dynamic binding with 'Order By' list above-->
  <!--    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">-->
  <!--      <td>{{repo.name}}</td>-->
  <!--      <td>{{repo.stargazers_count | number:1}}</td>-->
  <!--      <td>{{repo.language}}</td>-->
  <!--    </tr>-->
  <!--  </tbody>-->
  <!--</table>-->

  <!--activity 5-->
  <h1>{{message}}</h1>
  <div>{{error}}</div>

  <form name="searchUser" ng-submit="search(username)">
    <input type="search" required placeholder="Username to find" ng-model="username">
    <input type="submit" value="Search">
  </form>

  <div ng-show="user">
    <h2>{{user.name}}</h2>
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}">

    Order By:
    <select ng-model="repoSortOrder">
      <option value="+name">Name</option>
      <option value="-stargazers_count">No of Stars</option>
      <option value="+language">Language</option>
    </select>
  </div>

  <table ng-show="user">
    <!--or-->
  <!--<table ng-hide="!user">-->
    <thead>
      <tr>
        <th>Name</th>
        <th>No of Stars</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr ng-repeat="repo in repos | orderBy:'-stargazers_count'">-->
      <!--or, if we want to use dynamic binding with 'Order By' list above-->
      <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
        <td>{{repo.name}}</td>
        <td>{{repo.stargazers_count | number:1}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
